/*
 This css file is intentionally minimal, leaving all styling decisions beyond the routing functionality up to the implementing developer(s).
*/

main > * {
  display: none;
}

main > *:last-child {
  display: block;
}

main > *:target {
  display: block;
}

main > *:target ~ * {
  display: none;
}
